
body {
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
   color: #40514E;
}
h1 {
    margin: 0 auto 0 auto;
    font-size: 4rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    padding-bottom: 10px;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: normal;
    line-height: 2;
}
.footer-link {
    font-family: 'Montserrat', sans-serif;
    color:#11999E;
    margin: 10px 50px;
    text-decoration:none;
}
a:hover{
    color:#940404;
}

.mj-text {
    text-decoration: none;
    color:grey;
}
hr {
 
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width:5px;
    width: 5%;
}

p {
    line-height: 2;
}

.top-container {
    background-color: #e1f2fb;
    position: relative;
   padding-top: 100px;
}
.top-cloud {
    position: absolute;
    right:300px;
    top: 10px;
  
}
.bottom-cloud {
    position: absolute;
    left: 300px;
    top: 300px;
    bottom: 300px;

}
.mountain {
   margin-bottom: 100px;
}

.middle-container {
    background-color: #e1f2fb;
    position: relative;
    margin:0;
    padding: 100px;
}
.skill-row {
    width:50% ;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
.code-image {
    width:25%;
    float: right;
    margin-left: 30px;

}
.swim-image {
    width:25%;
    float: right;
    margin-left: 30px;
}

.bottom-container {
 
    background-color: #afe9e9;
    padding:10px 0;
    margin: 0;
}
.btn {
    padding-bottom: 10px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .contact {
      padding-bottom: 50px;
  }